svg{
    color: white;
}

a:hover > svg{
    color: black;
}

#static-links,#static-links-desktop{
    display: flex;
    flex-direction: row;
    position: static;
}
@media(max-width: 1023px){
    #static-links-desktop{
        display: none;
    }
}

@media(min-width: 1024px){
    #static-links{
        display: none;
    }
}







